<footer>
    <div class="container footer">
        <div class="row">
            <div class="col-md-12">
                <div class="box-newsteller mt-1">
                    <label for="">S'inscrire à la newsteller:</label>
                    <input type="text" class="newsteller">
                </div>
            </div>
        </div>
        <div class="col-md-12 socials">
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-discord"></i></a>
            <a href=""><i class="fab fa-youtube"></i></a>
        </div>
        <div class="col-md-12">
            <a href="/home"><img src="images/logofooter.png" class="logo-footer mx-auto" alt=""></a>
        </div>
        <p class="copyright">Senoyo - 2021. <a href="">Mentions légales</a></p>
    </div>
</footer>