{{!--
Footer
--}}

<footer class="shadow-lg">
    <div class="container footer">
        <div class="row">
            <div class="col-md-4 text-start mt-3">
                <h6>Se repérer:</h6>
                <ul>
                    <li><a class="footer-nav text-start" href="/blog">Blog</a></li>
                    <li><a class="" href="/contact">Contact</a></li>
                    {{#if isAdmin }}
                    <li><a class="" href="/admin">Admin</a></li>
                    {{/if }}
                    {{#unless user }}
                    <li><a class="" href="/connect">Connexion</a></li>
                    {{/unless }}
                </ul>
            </div>
            <div class="col-md-4 mt-3">
                <div>
                    <a href="/home"><img src="/images/logo.png" class="logo-footer mx-auto" alt=""></a>
                </div>
            </div>
            <div class="col-md-4 socials mt-3">
                <h6>Suivez-nous sur les réseaux!</h6>
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-discord"></i></a>
                <a href=""><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        <p class="copyright">Nakad - 2021. <a href="/mentions">Mentions légales</a></p>
    </div>
</footer>

{{#if user }}
{{> modals/admin/addArticle}}
{{/if }}