{{!--
Default header
--}}

{{#if coucou}}
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-10 header-title">
                <h1>Bienvenue commandant</h1>
                <p>Nous vous attendions</p>
                {{#if user }}
                <a class="btn btn-full" href="/blog">Voir plus d'articles...</a>
                {{else }}
                <a class="btn btn-full" href="/register">S'inscrire</a>
                <a class="btn btn-full" href="/connect">Se connecter</a>
                {{/if }}
            </div>
        </div>
    </div>
</header>
{{else}}
<header></header>
{{/if}}
