{{!--
Default header
--}}

{{#if coucou}}
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-10 header-title">
                {{#unless user }}
                <h1>Ici et maintenant</h1>
                <p>Rejoignez nous !</p>
                {{/unless }}
                {{#if user }}
                <h1>Bienvenue {{ user.username }}</h1>
                <p>Profitez de Social Music</p>
                {{/if }}
                {{#if user }}
                <a class="btn btn-full" href="/blog">Découvrir les derniers artistes</a>
                {{else }}
                <a class="btn btn-full" href="/register">S'inscrire</a>
                <a class="btn btn-full" href="/connect">Se connecter</a>
                {{/if }}
            </div>
        </div>
    </div>
</header>
{{else}}
<header></header>
{{/if}}
