{{!--
NAVBAR
--}}

<nav class="navbar navbar-expand-md bg-nav navbar-light fixed-top shadow">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="/images/logonav.png" class="imgnav">Honkai
            Site</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#manavbar"
            aria-controls="manavbar" aria-label="manavbar mobile">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="manavbar">
            <div class="navbar-nav ms-auto">
                <a class="nav-item nav-link text-nav" href="/blog">Blog</a>
                <a class="nav-item nav-link text-nav" href="/contact">Contact</a>
                {{#if isAdmin }}
                <a class="nav-item nav-link text-nav" href="/admin">Admin</a>
                {{/if }}
                {{#if user }}
                <a class="nav-item nav-link text-nav" href="#add-article" data-bs-toggle="modal">Créer article</a>
                <a class="nav-item nav-link text-nav" href="#disconnect" data-bs-toggle="modal">Se déconnecter</a>
                <a class="nav-item nav-link text-nav" href="#edit-profile" data-bs-toggle="modal">Compte</a>
                <img src="/upload/users/{{user.avatar}}" width="40" height="40" class="img-fluid rounded-circle">
                {{else }}
                <a class="nav-item nav-link text-nav" href="/connect">Se connecter</a>
                {{/if }}
            </div>
        </div>
    </div>
</nav>

{{#if user }}
{{> modals/admin/addArticle}}

{{> modals/editProfile}}

{{> modals/Logout}}
{{/if }}