<nav class="navbar navbar-expand-md bg-nav navbar-dark fixed-top shadow">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="images/logonav.png" class="imgnav">Honkai
            Site</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#manavbar"
            aria-controls="manavbar" aria-label="manavbar mobile">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="manavbar">
            <div class="navbar-nav ms-auto">
                <a class="nav-item nav-link text-nav" href="/blog">Blog</a>
                <a class="nav-item nav-link text-nav" href="/contact">Contact</a>
                <a class="nav-item nav-link text-nav" href="/admin">Admin</a>
                <a class="nav-item nav-link text-nav" href="/connect">Connexion</a>
                <a class="nav-item nav-link text-nav" href="#disconnect" data-bs-toggle="modal">Déconnexion</a>
                <a class="nav-item nav-link text-nav" href="#edit-profile" data-bs-toggle="modal">Compte</a>
            </div>
        </div>
    </div>
</nav>