{{!--
    CONTACT FORM
--}}
<section id="section-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Contact</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="contact-data">
                        <div class="phone">
                            <p><i class="fas fa-phone"></i>01.02.03.04.05</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="contact-data">
                        <div class="address">
                            <p><i class="fas fa-map-marker"></i>Adresse random, 12345 Pays</p>
                        </div>
                    </div>
                </div>
            </div>
            <form action="/contact" method="post">
                <div class="row">
                    <div class="col-md-6">
                        <div class="contact-form">
                            <label for="">Nom:</label><br>
                            <input type="text" class="contact-msg" name="name">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="contact-form">
                            <label for="">Email:</label><br>
                            <input type="email" id="email" placeholder="Entrez une adresse email" class="contact-msg" name="email">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="contact-form">
                            <label for="">Problème rencontré:</label>
                            <select name="select" id="">
                                <option value="gameplay">Gameplay</option>
                                <option value="boutique">Boutique</option>
                                <option value="interface">Interface</option>
                            </select>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="contact-form">
                                    <label for="">Votre message:</label><br>
                                    <textarea name="message" id="msg" class="contact-msg" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-form">Envoyer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
</section>