{{!--
HOME CONTACT FORM
--}}
<section id="section-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Contact</h2>
            </div>
            <form action="/home" method="post" class="col-md-6">
                <div class="contact-form">
                    <label for="">Nom:</label><br>
                    <input type="text" name="name" class="contact-msg">
                </div>
                <div class="contact-form">
                    <label for="">Email:</label><br>
                    <input type="email" id="email" name="email" placeholder="Entrez une adresse email"
                        class="contact-msg">
                </div>
                <div class="contact-form">
                    <label for="">Votre message:</label><br>
                    <textarea name="message" id="msg" class="contact-msg" rows="3"></textarea>
                </div>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-form" type="submit">Envoyer</button>
                </div>
            </form>
            <div class="col-md-6">
                <div class="contact-data">
                    <div class="phone">
                        <p><i class="fas fa-phone"></i>01.02.03.04.05</p>
                    </div>
                </div>
                <div class="contact-data">
                    <div class="address">
                        <p><i class="fas fa-map-marker"></i>Adresse random, 12345 Pays</p>
                    </div>
                </div>
                <div>
                    <img src="/images/logocontact.png" class="img-fluid" alt="...">
                </div>
            </div>
        </div>
    </div>
</section>