{{!--
    PASSWORD SECTION: FORM
--}}
<section id="password">
    <div class="container mb-20">
        <div class="row">
            <div class="connect-title">
                <h2>Changer de mot de passe</h2>
            </div>
            <div class="col-md-12">
                <div class="connection d-flex flex-column align-items-center">
                    <div class="mb-3 element-form">
                        <label for="input-email" class="form-label">Adresse email de récupération</label>
                        <input type="email" class="form-control" id="input-username" placeholder="Email">
                    </div>
                    <div class="row mb-3">
                        <button type="submit" class="btn btn-full">Envoyer un email</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>