{{!--
    BLOG CARD LIST
--}}

<section id="section-cards">
    <div class="container">
        <div class="row">
            <div class="section-cards-title">
                <h2>Honkai Cards</h2>
            </div>
            <div class="row row-cols-lg-3 g-3 mx-auto" id="listCard">
                <div class="col">
                    <a href="" class="card-link">
                        <div class="card" style="width: 18rem;">
                            <img src="/images/cards/kiana.png" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Kiana</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Accusantium
                                    unde quibusdam vitae quod odio ea officiis at qui, impedit autem voluptatibus
                                    recusandae
                                    sint perspiciatis asperiores harum dignissimos soluta, sed itaque.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="" class="card-link">
                        <div class="card" style="width: 18rem;">
                            <img src="/images/cards/mei.png" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Mei</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Accusantium
                                    unde quibusdam vitae quod odio ea officiis at qui, impedit autem voluptatibus
                                    recusandae
                                    sint perspiciatis asperiores harum dignissimos soluta, sed itaque.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="" class="card-link">
                        <div class="card" style="width: 18rem;">
                            <img src="/images/cards/bronya.png" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Bronya</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Accusantium
                                    unde quibusdam vitae quod odio ea officiis at qui, impedit autem voluptatibus
                                    recusandae
                                    sint perspiciatis asperiores harum dignissimos soluta, sed itaque.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="" class="card-link">
                        <div class="card" style="width: 18rem;">
                            <img src="/images/cards/seele.png" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Seele</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Accusantium
                                    unde quibusdam vitae quod odio ea officiis at qui, impedit autem voluptatibus
                                    recusandae
                                    sint perspiciatis asperiores harum dignissimos soluta, sed itaque.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="/id" class="card-link">
                        <div class="card" style="width: 18rem;">
                            <img src="/images/cards/elysia.png" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Elysia</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Accusantium
                                    unde quibusdam vitae quod odio ea officiis at qui, impedit autem voluptatibus
                                    recusandae
                                    sint perspiciatis asperiores harum dignissimos soluta, sed itaque.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="" class="card-link">
                        <div class="card" style="width: 18rem;">
                            <img src="/images/cards/mobius.png" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Mobius</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Accusantium
                                    unde quibusdam vitae quod odio ea officiis at qui, impedit autem voluptatibus
                                    recusandae
                                    sint perspiciatis asperiores harum dignissimos soluta, sed itaque.</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>