<div class="container search-bar mt-3">
    <div class="row">
        <div class="col-lg-5 col-md-6 mx-auto">
            <div class="search-outline input-group">
                <input type="search" id="search1" class="search-control" placeholder="Tapez votre recherche" />
                <div class="btn-group">
                    <button type="button" class="btn btn-full">
                        <i class="fas fa-search"></i>
                    </button>
                    <button type="button" class="btn btn-full dropdown-toggle dropdown-toggle-split"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="">Filtre 1</a></li>
                        <li><a class="dropdown-item" href="">Filtre 2</a></li>
                        <li><a class="dropdown-item" href="">Guns</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>