{{!--
    BLOG SEARCH BAR
--}}

<div class="container search-bar mt-3">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="search-outline input-group">
                <input type="search" id="search1" class="search-control mx-auto" placeholder="Tapez votre recherche" onkeyup="myFilter()"/>
            </div>
        </div>
    </div>
</div>