{{!--
    CONNECTION FORM
--}}

<section id="connect">
    <div class="container">
        <div class="row">
            <div class="connect-title">
                <h2>Connexion</h2>
            </div>
            <form action="/connect" method="post" class="connection d-flex flex-column align-items-center">
                <div class="mb-3 element-form">
                    <label for="input-username" class="form-label">Nom d'utilisateur</label>
                    <input type="text" class="form-control" id="input-username" name="name">
                </div>
                <div class="mb-3 element-form">
                    <label for="password" class="form-label">Mot de passe</label>
                    <input type="password" class="form-control" id="password" name="password">
                    <a href="/password">Mot de passe oublié ?</a>
                </div>
                <div class="mb-3 form-check element-form-checkbox d-flex justify-content-center">
                    <input type="checkbox" class="form-check-input" id="checkbox" name="check">
                    <label class="form-check-label" for="checkbox">Se souvenir de moi</label>
                </div>
                <button type="submit" class="btn btn-full w-50">Se connecter</button>
                <a href="/register" class="register-link">Pas encore inscrit ?</a>
            </form>
        </div>
    </div>
</section>