{{!--
PROFILE EDITION MODAL
--}}

<div class="modal fade" id="edit-profile" tabindex="-1" aria-labelledby="edit-profile-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edition de profil</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container rounded bg-white mb-5">
                    <div class="row">
                        <div class="col-md-4 border-right">
                            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                                <img class="rounded-circle mt-5" width="150px" src="/upload/users/{{user.avatar}}">
                                <span class="font-weight-bold">{{user.username}}</span>
                                <span class="text-black-50">{{user.email}}</span>
                            </div>
                        </div>
                        <form action="/home/?_method=PUT" method="post" class="col-md-8 border-right"
                            enctype="multipart/form-data">
                            <div class="p-3 py-5">
                                <div class="row mt-2">
                                    <div class="col-md-12">
                                        <label class="labels">Avatar</label>
                                        <input type="file" id="myFile" name="avatar" class="mb-1">
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-12">
                                        <label class="labels">Changer de Pseudo</label>
                                        <input type="text" class="form-control" placeholder="Entrez votre pseudo"
                                            name="name">
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-12">
                                        <label class="labels">Mot de passe actuel</label>
                                        <input required type="password" class="form-control" placeholder="Ancien mot de passe"
                                            name="oldPassword">
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-12">
                                        <label class="labels">Changer de Mot de passe</label>
                                        <input type="password" class="form-control" placeholder="Nouveau mot de passe"
                                            name="password">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-off" data-bs-dismiss="modal">Annuler</button>
                                <button type="submit" class="btn btn-on">Sauvegarder</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>