{{!--
ARTICLE EDITION MODAL
--}}
<div class="modal fade" id="editarticle{{ this.id }}" tabindex="-1" aria-labelledby="editarticlelabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modifier un article</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form action="/admin/{{ this.id }}?_method=PUT" method="post" enctype="multipart/form-data">
                        <div class="article-body d-flex flex-column align-items-center">
                            <div class="mb-3 element-form">
                                <label for="input-username" class="form-label">Nom de l'article</label>
                                <input type="text" class="form-control" id="input-username" name="article">
                            </div>
                            <div class="mb-3 element-form">
                                <label for="desc-article" class="form-label">Description</label>
                                <input type="file" id="myFile" name="filename" class="mb-1">
                                <textarea name="desc-article" id="article" cols="25" rows="2"
                                    class="article-zone form-control"
                                    placeholder="Entrez votre description..."></textarea>
                            </div>
                        </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-off" data-bs-dismiss="modal">Annuler</button>
                <button type="submit" class="btn btn-on">Modifier</button>
            </div>
            </form>
        </div>
    </div>
</div>