{{!--
UNBAN USER MODAL
--}}
<div class="modal fade" id="unban-user{{ this.id }}" tabindex="-1" aria-labelledby="unban-user-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Débannir un utilisateur</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Voulez-vous vraiment débannir l'utilisateur ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-off" data-bs-dismiss="modal">Non</button>
                <form action="/unban/{{ this.id }}?_method=PUT" method="post">
                    <button type="submit" class="btn btn-on">Oui</button>
                </form>
            </div>
        </div>
    </div>
</div>