<!--ARTICLE ET DESCRIPTION-->
<section id="card-page">
    <div class="container">
        <div class="row">
            <div class="cards-page-title">
                <h2>Nom de l'article</h2>
            </div>
            <div class="col-md-12">
                <div class="card card-article" style="max-width: 100%; max-height: 100%;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="assets/images/cards/elysia.png" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Elysia</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Similique maxime distinctio, minima est, sint libero doloribus voluptatibus
                                    nobis quae dolor mollitia ullam praesentium molestias perspiciatis accusamus
                                    nulla cum culpa magni.</p>
                                <p class="card-text"><small class="text-muted">Dernière modification il y a 3
                                        minutes</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>