{{!--
ADD COMMENT SECTION
--}}
<section id="section-comment">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="comment-title">
                <h2>Commentaires</h2>
            </div>
            <div class="card card-comment p-3">
                {{#if user }}
                <form action="/id" method="post">
                    <div class="d-flex flex-row align-items-center form-color">
                        <img src="/upload/users/{{user.avatar}}" alt="" width="50" class="rounded-circle me-2">
                        <textarea name="comment" id="" cols="" rows="2" class="comment-zone"
                            placeholder="Entrez votre commentaire..."></textarea>
                    </div>
                    <div class="col-md-12 d-flex flex-row-reverse">
                        <button class="btn btn-comment btn-sm col-md-2 align-self-end mt-1">Envoyer</button>
                    </div>
                </form>
                {{/if }}

                {{!--
                USER COMMENT SECTION
                --}}
                <div class="mt-2">
                    <div class="d-flex flex-row p-3"><img src="/images/comments/comment1.jpg" alt="" width="40"
                            height="40" class="rounded-circle me-3">
                        <div class="w-100">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex flex-row align-items-center"> <span class="mr-2">Fu Hua</span>
                                </div><small>Il y a 1h</small>
                            </div>
                            <p class="text-justify comment-text mb-0">Lorem ipsum dolor sit, amet consectetur
                                adipisicing elit. Omnis incidunt, a unde pariatur necessitatibus quia, perferendis
                                dolorum consequatur, porro facere quod itaque fugit. Modi saepe reiciendis rerum, id
                                sapiente aliquid!</p>
                            <div class="d-flex flex-row user-feed">
                                <span class="me-2"><a href="#respond-comment1" data-bs-toggle="collapse"><i
                                            class="fa fa-comments-o me-2"></i>Répondre</span></a>
                                <span><a href="#deleteComment" data-bs-toggle="modal"><i
                                            class="fas fa-trash me-2"></i>Supprimer</span></a>
                            </div>
                            <!--ANSWER COMMENT-->
                            <form action="/id" method="post" class="collapse mt-3 ms-2" id="respond-comment1">
                                <div class="d-flex flex-row">
                                    <img src="/upload/users/{{ user.avatar }}" alt="" width="50"
                                        class="rounded-circle me-2">
                                    <textarea class="mail-area w-100" name="comment" id="" cols="" rows="2"
                                        placeholder="Entrez votre réponse..."></textarea>
                                </div>
                                <div class="col-md-12 d-flex flex-row-reverse p-0 mt-1">
                                    <button class="btn btn-comment btn-sm col-md-2">Répondre</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{> modals/admin/deleteComments}}