/*
 * GLOBAL
 * ****** */

body {
    background-color: white;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -1px;
    word-spacing: 8px;
    margin-top: 2%;
    margin-bottom: 2%;
}

h2::after {
    display: block;
    height: 2px;
    width: 10%;
    background-color: orange;
    content: "";
    margin: 0 auto;
    margin-top: 1%;
}

/*
 * HEADER
 * ****** */

header {
    background-image: url(../images/headerid.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
    border-bottom: orange solid 2px;
}

.header-title {
    color: white;
    position: absolute;
    top: 10%;
    left: 10%;
    background-color: rgba(255, 255, 255, 0.04);
}

.header-title h1 {
    text-shadow: 1px 1px black;
}

.header-title p {
    text-shadow: 1px 1px black;
}

.btn {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: black;
    border-radius: 10px;
}

.btn-full {
    background-color: silver;
    border: white solid 2px;
    margin-right: 2%;
}

.btn-full:hover {
    background-color: orange;
    border: white solid 2px;
}

/*
 * NAVBAR
 * ****** */

.bg-nav {
    background: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
}

.text-nav {
    color: white;
}

/*
 * ADMIN CARD
 * ********** */
.card {
    border: none;
}

.card img {
    border: solid 2px orange;
}



/*
 * FORM
 * **** */

form {
    margin-bottom: 1%;
}

.phone i {
    margin-right: 1%;
}

.address i {
    margin-right: 1%;
}

.contact-form {
    margin-bottom: 30px;
    width: 100%;
}

.contact-msg {
    width: 100%;
}

.contact-data {
    text-align: center;
}

.btn-form {
    background-color: silver;
    border: white solid 2px;
    margin: 0 auto;
    float: none;
}

.btn-form:hover {
    background-color: orange;
    border: white solid 2px;
}

/*
 * FOOTER
 * ****** */

footer {
    background: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
    text-align: left;
    color: black;
    border-top: solid black 1px;
    margin-top: 1%;
}

footer a {
    color: black;
}

footer a:hover {
    color: blue;
}

.copyright-newsteller {
    margin-top: 1%;
}

.logo-footer {
    height: auto;
    width: auto;
}