{{!--
    REGISTER SECTION: FORM
--}}
<section id="register">
    <div class="container">
        <div class="row">
            <div class="registration-title">
                <h2>Inscription</h2>
            </div>
            <div class="connection d-flex justify-content-center flex-column">
                <div class="mb-3 element-form">
                    <label for="input-username" class="form-label">Nom d'utilisateur</label>
                    <input type="text" class="form-control" id="input-username">
                </div>
                <div class="mb-3 element-form">
                    <label for="input-email" class="form-label">Adresse email</label>
                    <input type="email" class="form-control" id="input-email">
                </div>
                <div class="mb-3 element-form">
                    <label for="password" class="form-label">Mot de passe</label>
                    <input type="password" class="form-control" id="password">
                </div>
                <div class="mb-3 element-form">
                    <label for="password" class="form-label">Confirmation du mot de passe</label>
                    <input type="password" class="form-control" id="password">
                </div>
                <button type="submit" class="btn btn-full">S'inscrire</button>
            </div>
        </div>
    </div>
</section>