{{!--
ARTICLE TABLE
--}}

<section id="blog" class="collapse">
    <div class="container">
        <div class="row">
            <div class="section-blog-title">
                <h2>Blog</h2>
                <a href="#add-article" data-bs-toggle="modal">
                    <i class="fas fa-plus-square"> Ajouter un article</i>
                </a>
            </div>
            <ul>
                {{#each dbArticle }}
                <div class="element-blog d-flex flex-row justify-content-between">
                    <li>{{ this.name }}</li>
                    <div class="suppredit">
                        <a href="#editarticle{{ this.id }}" data-bs-toggle="modal"><i class="fas fa-pen"></i></a>
                        <a href="#deletearticle{{ this.id }}" data-bs-toggle="modal"><i class="fas fa-trash"></i></a>
                    </div>
                </div>

                {{> modals/admin/editArticle}}

                {{> modals/admin/deleteArticle}}
                {{/each }}
                {{!-- <div class="element-blog d-flex flex-row justify-content-between">
                    <li>Mei</li>
                    <div class="suppredit">
                        <a href="#editarticle" data-bs-toggle="modal"><i class="fas fa-pen"></i></a>
                        <a href="#deletearticle" data-bs-toggle="modal"><i class="fas fa-trash"></i></a>
                    </div>
                </div>
                <div class="element-blog d-flex flex-row justify-content-between">
                    <li>Bronya</li>
                    <div class="suppredit">
                        <a href="#editarticle" data-bs-toggle="modal"><i class="fas fa-pen"></i></a>
                        <a href="#deletearticle" data-bs-toggle="modal"><i class="fas fa-trash"></i></a>
                    </div>
                </div>
                <div class="element-blog d-flex flex-row justify-content-between">
                    <li>Seele</li>
                    <div class="suppredit">
                        <a href="#editarticle" data-bs-toggle="modal"><i class="fas fa-pen"></i></a>
                        <a href="#deletearticle" data-bs-toggle="modal"><i class="fas fa-trash"></i></a>
                    </div>
                </div>
                <div class="element-blog d-flex flex-row justify-content-between">
                    <li>Elysia</li>
                    <div class="suppredit">
                        <a href="#editarticle" data-bs-toggle="modal"><i class="fas fa-pen"></i></a>
                        <a href="#deletearticle" data-bs-toggle="modal"><i class="fas fa-trash"></i></a>
                    </div>
                </div>
                <div class="element-blog d-flex flex-row justify-content-between">
                    <li>Mobius</li>
                    <div class="suppredit">
                        <a href="#editarticle" data-bs-toggle="modal"><i class="fas fa-pen"></i></a>
                        <a href="#deletearticle" data-bs-toggle="modal"><i class="fas fa-trash"></i></a>
                    </div>
                </div> --}}
            </ul>
        </div>
    </div>
</section>