{{!--
MAIL TABLE
--}}
<section id="comments" class="collapse">
    <div class="container">
        <div class="row">
            <div class="section-message-title mb-3">
                <h2>Commentaires</h2>
            </div>
            <div class="table-responsive">
                <table class="table align-middle">
                    <thead>
                        <tr>
                            <th scope="col">Pseudo</th>
                            <th scope="col">Commentaire</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each dbComment }}
                        <tr>
                            <td>{{ this.username }}</td>
                            <td>{{ this.content }}</td>
                            <td>
                                <a href="#deleteComment{{ this.id }}" data-bs-toggle="modal">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        {{> modals/admin/deleteComments}}
                        {{/each }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>