{{!--
MAIL TABLE
--}}
<section id="comments" class="collapse">
    <div class="container">
        <div class="row">
            <div class="section-message-title mb-3">
                <h2>Commentaires</h2>
            </div>
            <div class="table-responsive">
                <table class="table align-middle">
                    <thead>
                        <tr>
                            <th scope="col">Pseudo</th>
                            <th scope="col">Commentaire</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td>Placeholder</td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur nobis exercitationem earum placeat aliquam amet quasi debitis molestiae. Temporibus velit itaque possimus voluptas quasi consequatur odio libero natus aliquam inventore!</td>
                        <td>
                            <a href="#deleteComment{{ this.id }}" data-bs-toggle="modal">
                                    <i class="fas fa-trash"></i>
                                </a>
                        </td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>