{{!--
    CONNECTED ACCOUNT
--}}
<section class="connected-account">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-admin mb-3 mt-3" style="max-width: 100%;">
                    <div class="row g-0 justify-content-center">
                        <div class="col-md-1 ">
                            <img src="./upload/users/{{user.avatar}}" alt="" width="100"
                                class="img-fluid rounded-circle">
                        </div>
                        <div class="col-md-11">
                            <div class="card-body">
                                <h5 class="card-title">Admin</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>