{{!--
MAIL TABLE
--}}
<section id="message" class="collapse">
    <div class="container">
        <div class="row">
            <div class="section-message-title mb-3">
                <h2>Message</h2>
            </div>
            <ul>
                <a href="">
                    <div class="element-message d-flex flex-row justify-content-between">
                        <li><i class="fas fa-envelope icon-message"></i>Kiana a mangé tout le repas</li>
                    </div>
                </a>
                <a href="">
                    <div class="element-message d-flex flex-row justify-content-between">
                        <li><i class="far fa-envelope-open icon-message"></i>Voici le menu de la semaine</li>

                    </div>
                </a>
            </ul>
        </div>
    </div>
</section>