{{!--
    MINI-NAVBAR
--}}
<div class="container mt-2 content-mininav">
    <div class="row mb-3">
        <div class="col-md-4 mb-1">
            <a href="#user" data-bs-toggle="collapse" aria-expanded="true" aria-controls="user">
                <div class="mini-nav d-flex justify-content-center align-items-center">
                    <p>Utilisateurs</p>
                </div>
            </a>
        </div>
        <div class="col-md-4 mb-1">
            <a href="#blog" data-bs-toggle="collapse">
                <div class="mini-nav d-flex justify-content-center align-items-center">
                    <p>Blog</p>
                </div>
            </a>
        </div>
        <div class="col-md-4 mb-1">
            <a href="#message" data-bs-toggle="collapse">
                <div class="mini-nav d-flex justify-content-center align-items-center">
                    <p>Message</p>
                </div>
            </a>
        </div>
    </div>
</div>